{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

    <title>Change Password</title>

</head>
<style>
    .wave {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }

    .message {
        padding: 10px;
        margin-bottom: 10px;
    }

    .success {
        color: #155724;
    }

    .error {
        color: #ff0016;
        font-weight: bolder;
    }

    .info {
        color: #0c5460;
    }

    .warning {
        color: #856404;
    }

</style>
<body>
<div class="container">
    <img class="wave" src="{% static 'appsongaz/img/wave.png' %}">
    <div class="img">
        <img src="{% static 'appsongaz/img/Logo.png' %}">
    </div>

    <div class="login-content">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {% if 'warning' in error.tags %}
                                <div class="message warning">{{ error }}</div>
                            {% else %}
                                <div class="message error">{{ error }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <button class="btn btn-info" type="submit">Reset Password</button>
        </form>
    </div>
</div>

<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<script src="{% static 'appsongaz/js/main.js' %}"></script>
</body>
</html>